@model Library.Web.Models.Error.ErrorViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>
<body>
    <div class="container">
        <h1>An error occurred</h1>
        <div>
            <h2>@Model.Title</h2>
            <p>@Model.Message</p>
            @if (Model.StackTrace != null)
            {
                <pre>@Model.StackTrace</pre>
            }
        </div>
    </div>
</body>
</html>